    <!-- FOOTER -->
    <footer>
        <div class="container-fluid">
            <p>Copyright &copy;</p>
        </div> 
    </footer>
    <!-- // FOOTER -->

    <!-- PRELOADER -->
    <script>
        var preloader=document.getElementById("loading");
        function myFunction(){
            preloader.style.display='none'; 
        }        
    </script>
    <!-- // PRELOADER -->
    
    <!-- JS PLUGINS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.swatchbook.js"></script>
    <script type="text/javascript">
        $(function() {
            $( '#sb-container' ).swatchbook( {
                speed : 500,
                easing : 'ease-out',
                center : 3,
                angleInc : 18,
                proximity : 40,
                neighbor : 2
            } );
        
        });
    </script>

    <!-- CUSTOMIZED SCRIPTS -->
    <script src="/js/profile.js"></script>
    <script src="/js/notes/notes.js"></script>    
    <script src="/js/notes/new-note.js"></script>
    <script src="/js/notes/edit-note.js"></script>
    <!-- <script src="/js/notes/planner.js"></script> -->
    <script src="/js/plugins/text-editor.js"></script>

</body>
</html>