
    <footer>
        <div class="container-fluid">
            <p>Copyright &copy;</p>
        </div> 
    </footer>
    <!-- <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.cubeportfolio.min.js"></script>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.js"></script> -->
    <!-- <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> -->
    
    <script src="/js/profile.js"></script>
    <script src="/js/edit-note.js"></script>    
    <script src="/js/homepage.js"></script>    
    <script src="/js/new-note.js"></script>
    <script src="/js/mobiscroll.jquery.min.js"></script>

    <script src="/js/planner.js"></script>
    <script src="/js/text-editor.js"></script>


</body>
</html>