
    <footer>
        <div class="container-fluid">
            <p>Copyright &copy;</p>
        </div> 
    </footer>

    <script>
        var preloader=document.getElementById("loading");
        function myFunction(){
            preloader.style.display='none'; 
        }
        // setTimeout(function() {
        //     $('body').addClass('loading');
        // }, 3500);
        // const letters = ['T', 'U', 'O', 'D', 'C', 'S', 'P', 'Y', 'X'];
        // const preloader = document.querySelector('.preloader');
        // let previousIndex = null;
        // let prePreviousIndex = null;

        // const getRandomIndex = () => Math.round((letters.length - 1) * Math.random());

        // const preloaderChange = () => {
        // let randomIndex = getRandomIndex();
        // while (randomIndex === previousIndex ||
        //         randomIndex === prePreviousIndex) {
        //     randomIndex = getRandomIndex();
        // }
        // prePreviousIndex = previousIndex;
        // previousIndex = randomIndex;
        // const l = letters[randomIndex];
        // preloader.innerHTML = l + '_' + l
        // }

        // setInterval(preloaderChange, 150);
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.cubeportfolio.min.js"></script>

    <script src="/js/profile.js"></script>
    <script src="/js/notes/edit-note.js"></script>    
    <script src="/js/notes/notes.js"></script>    
    <script src="/js/notes/new-note.js"></script>
    <!-- <script src="/js/notes/planner.js"></script> -->
    <script src="/js/plugins/text-editor.js"></script>

</body>
</html>