<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickNotes</title>

    <link rel="stylesheet" href="/stylesheets/mobiscroll.jquery.min.css">

    <!-- LINKING THE REQD. STYLESHEETS -->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="stylesheet" href="/stylesheets/edit.css">
    <link rel="stylesheet" href="/stylesheets/text-editor.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <!-- import '@mobiscroll/jquery-lite/dist/css/mobiscroll.min.css'; -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/stylesheets/cubeportfolio.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
</head>
<body onload="myFunction()">

    <!-- PRELOADER -->
    <!-- <div class="preloader"></div> -->
    <div id="loading" class="loading"></div>

    <!-- NAVBAR -->
    <nav role="navigation" class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">

            <!-- LOGO -->
            <div class="navbar-header">
                <% if(user){ %>
                    <a href="/<%= user.id %>/notes" class="navbar-brand">QuickNotes</a>
                <% } else { %>
                    <a href="/" class="navbar-brand">QuickNotes</a>
                <% } %>
                <button type="button" class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- LINKS -->
            <div class="navbar-collapse collapse" id="navbarCollapse" >
                <!-- LEFT LINKS -->
                <ul class="nav navbar-nav">
                    <% if(user){ %>
                        <li><a href="/<%= user.id %>/profile">Profile</a></li>
                    <% } %>
                    <!-- <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li> -->
                </ul>

                <!-- RIGHT LINKS -->
                <ul class="nav navbar-nav navbar-right">
                    <% if( !user){ %>
                        <li><a href="#signupModal" data-toggle="modal">Sign-Up</a></li>
                        <li><a href="#loginModal" data-toggle="modal">Login</a></li>
                    <% } else{ %>
                        <li><a href="#logoutModal" data-toggle="modal">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- FLASH MESSAGES -->
    <div class="container">

        <!-- ERROR MESSAGE -->
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger errorMsg" role="alert">
                <i class="fa fa-times-circle"></i>
                <%= error %>
            </div>
        <% } %>

        <!-- SUCCESS MESSAGE -->
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success successMsg" role="alert">
                <i class="fa fa-check"></i>
                <%= success %>
            </div>
        <% } %>

    </div>
 
    <!-- LOGIN FORM -->
    <form action="/" method="POST" id="loginForm" class="loginForm">
        <div class="modal" id="loginModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Header -->
                    <div class="m-header">
                        <!-- Close button -->
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 id="myModalLabel"> Login </h4>
                        <br />
                    </div>

                    <!-- Body -->
                    <div class="inputs">

                        <!-- Username -->
                        <div class="form-group input-group">
                            <label for="username" class="sr-only">Username</label>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control username" id="username" name="username" placeholder="Username" maxlength="30" required>
                        </div>

                        <!-- Password -->
                        <div class="form-group input-group" >
                            <label for="password" class="sr-only">Password</label>
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" maxlength="30" required>
                        </div>
                    </div>

                    <div class="checkbox">
                        <!-- Remember Me -->
                        <label class="pull-left">
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                            Remember Me
                        </label> 
                        
                        <!-- Forgot Password -->
                        <a class="pull-right forgot" style="cursor: pointer" data-dismiss="modal" data-target="#forgotPasswordModal" data-toggle="modal">
                            Forgot Password?!
                        </a>
                    </div>
                    
                    <!-- Footer -->
                    <div class="footer">
                        <button type="submit" class="btn loginButton" name="form" value="login">
                            Login
                            <i class="fa fa-angle-double-right"></i>
                            <!-- <i class="fa fa-sign-in-alt"></i> -->
                        </button>
                        <p>
                            Don't have an account?! 
                            <a href="">
                                Sign-Up!
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- LOGOUT -->
    <form action="/" method="POST" id="logoutForm" class="logoutForm">
        <div class="modal" id="logoutModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Header -->
                    <div class="m-header">
                        <!-- Close button -->
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h5 id="myModalLabel"> Do you wish to logout?! </h5>
                        <br/>
                    </div>

                    <!-- Footer -->
                    <div class="footer">
                        <!-- <i class="fas fa-sign-out-alt"></i> -->
                        <button type="submit" class="btn" name="form" value="logout">Yes!</button>
                        <button class="btn" data-dismiss="modal">No!</button>        
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- FORGOT PASSWORD FORM -->
    <form method="POST" id="forgotPasswordForm">
        <div class="modal" id="forgotPasswordModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Header -->
                    <div class="m-header">
                        <!-- Close button -->
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 id="myModalLabel"> Forgot Password?! </h4>
                        <br />
                    </div>

                    <!-- Body -->
                    <div>

                        <!-- Email Address -->
                        <h6 id="myModalLabel"> Enter Email address:  </h6>
                        <div class="form-group input-group">
                            <label for="email" class="sr-only">Email</label>
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" id="email" name="email" autofocus placeholder="Email Address" maxlength="50" required>
                        </div>
                    </div>
                    
                    <!-- Footer -->
                    <div class="footer">
                        <button type="submit" class="btn" name="form" value="forgotPassword">Reset</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    
            