<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickNotes</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../../favicon.ico?" type="image/x-icon">
    <link rel="icon" href="../../favicon.ico?" type="image/x-icon">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="/stylesheets/partials/header.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/notes/notes.css">
    <link rel="stylesheet" href="/stylesheets/notes/new.css">
    <link rel="stylesheet" href="/stylesheets/notes/edit.css">
    <link rel="stylesheet" href="/stylesheets/partials/footer.css">

    <!-- PLUGINS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/stylesheets/plugins/cubeportfolio.min.css">
    <link rel="stylesheet" href="/stylesheets/plugins/text-editor.css">
    <script type="text/javascript" src="/js/plugins/modernizr.custom.79639.js"></script> 
    
    <!-- PUSH NOTIFICATIONS -->
    <!-- DEPLOYED APP -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "0aa6b268-532b-4894-af90-a39c67fa4e09",
            });
        });
    </script>

    <!-- LOCALHOST -->
    <!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "1504e979-81f6-4778-b658-806a1ad0997b",
            });
        });
    </script> -->

</head>

<body onload="myFunction()">
        
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '459015551680779',
                cookie     : true,
                xfbml      : true,
                version    : 'v5.0'
            });
                
            FB.AppEvents.logPageView();   
                
        };
    
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=459015551680779&autoLogAppEvents=1"></script>

    <!-- PRELOADER -->
    <!-- <div class="preloader"></div> -->
    <div id="loading" class="loading"></div>
    <!-- // PRELOADER -->

    <!-- NAVBAR -->
    <nav role="navigation" class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">

            <!-- LOGO -->
            <div class="navbar-header">
                <% if(user){ %>
                    <a href="/<%= user.id %>/notes" class="navbar-brand">QuickNotes</a>
                <% } else { %>
                    <a href="/" class="navbar-brand">QuickNotes</a>
                <% } %>

                <!-- HAMBURGER -->
                <button type="button" class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- LINKS -->
            <div class="navbar-collapse collapse" id="navbarCollapse" >

                <!-- LEFT LINKS -->
                <ul class="nav navbar-nav">
                    <% if(user){ %>
                        <li><a href="/<%= user.id %>/profile">Profile</a></li>
                    <% } %>
                    <!-- <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li> -->
                </ul>

                <!-- RIGHT LINKS -->
                <ul class="nav navbar-nav navbar-right">
                    <% if( !user){ %>
                        <li><a href="#signupModal" data-toggle="modal">Sign-Up</a></li>
                        <li><a href="#loginModal" data-toggle="modal">Login</a></li>
                    <% } else{ %>
                        <li><a href="#logoutModal" data-toggle="modal">Logout</a></li>
                    <% } %>
                </ul>
            </div>

        </div>
    </nav>
    <!-- // NAVBAR -->


    <!-- FLASH MESSAGES -->
    <div class="container">

        <!-- ERROR MESSAGE -->
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger errorMsg" role="alert">
                <i class="fa fa-times-circle"></i>
                <%= error %>
            </div>
        <% } %>

        <!-- SUCCESS MESSAGE -->
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success successMsg" role="alert">
                <i class="fa fa-check"></i>
                <%= success %>
            </div>
        <% } %>

    </div>
    <!-- // FLASH MESSAGES -->


    <!-- SIGNUP FORM -->
    <form action="/" method="POST" id="signupForm" class="signupForm">
        <div class="modal" id="signupModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- MODAL HEADER -->
                    <div class="m-header">
                        <!-- CLOSE BUTTON -->
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="myModalLabel"> Sign Up </h4>
                        <br />
                    </div>

                    <!-- MODAL BODY -->
                    <div class="social-login">

                        <a href="/login/facebook" class="social facebook-icon"><i class="fab fa-facebook-f fa-2x"></i></a>
                        <a href="/login/google" class="social google-icon"><i class="fab fa-google-plus-g fa-2x"></i></a>

                        <p>or</p>
                        <hr />
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <button class="form-control facebook_button">
                                            <a class="auth-content" href="/login/facebook">
                                                Sign In with Facebook Account
                                                <i class="fab fa-facebook fa-lg icon" aria-hidden="true"></i>
                                            </a>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="form-control google_button">
                                            <a class="auth-content" href="/login/google"> 
                                                Sign In with Google Account
                                                <i class="fab fa-google fa-lg icon" aria-hidden="true"></i>
                                            </a>
                                </button>
                            </div>
                        </div> -->
                    </div>
                    
                    <div class="inputs">

                        <!-- USERNAME -->
                        <div class="form-group input-group">
                            <label for="username" class="sr-only">Username</label>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" maxlength="30" required>
                        </div>

                        <!-- EMAIL ADDRESS -->
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" maxlength="50" required>
                        </div>

                        <!-- PASSWORD -->
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Choose a password" maxlength="30" required>
                        </div>

                        <!-- CONFIRM PASSWORD -->
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <label for="password2" class="sr-only">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" maxlength="30" required>
                        </div>
                    </div>

                    <!-- MODAL FOOTER -->
                    <div class="footer">
                        <button type="submit" class="signUpButton arrow" name="form" value="signUp">Sign Up</button>
                        <br /><br />
                        <p>
                            Already have an account?! 
                            <a href="#loginModal" data-toggle="modal" data-dismiss="modal">Login!</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </form>  
    <!-- // SIGNUP FORM -->

    
    <!-- LOGIN FORM -->
    <form action="/" method="POST" id="loginForm" class="loginForm">
        <div class="modal" id="loginModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- MODAL HEADER -->
                    <div class="m-header">
                        <!-- CLOSE BUTTON -->
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 id="myModalLabel"> Login </h4>
                        <br />
                    </div>

                    <!-- MODAL BODY -->
                    <div class="social-login">

                        <a href="/login/facebook" class="social facebook-icon"><i class="fab fa-facebook-f fa-2x"></i></a>
                        <a href="/login/google" class="social google-icon"><i class="fab fa-google-plus-g fa-2x"></i></a>

                        <p>or</p>
                        <hr />
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <button class="form-control facebook_button">
                                            <a class="auth-content" href="/login/facebook">
                                                Sign In with Facebook Account
                                                <i class="fab fa-facebook fa-lg icon" aria-hidden="true"></i>
                                            </a>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="form-control google_button">
                                            <a class="auth-content" href="/login/google"> 
                                                Sign In with Google Account
                                                <i class="fab fa-google fa-lg icon" aria-hidden="true"></i>
                                            </a>
                                </button>
                            </div>
                        </div> -->
                    </div>
        
                    <div class="inputs">

                        <!-- USERNAME -->
                        <div class="form-group input-group">
                            <label for="username" class="sr-only">Username</label>
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control username" id="username" name="username" placeholder="Username" maxlength="30" required>
                        </div>

                        <!-- PASSWORD -->
                        <div class="form-group input-group" >
                            <label for="password" class="sr-only">Password</label>
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" maxlength="30" required>
                        </div>
                    </div>

                    <div class="checkbox">
                        <!-- REMEMBER ME -->
                        <!-- <label class="pull-left">
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                            Remember Me
                        </label>  -->
                        
                        <!-- FORGOT PASSWORD -->
                        <a class="pull-right forgot" data-dismiss="modal" data-target="#forgotPasswordModal" data-toggle="modal">
                            Forgot Password?!
                        </a>
                    </div>
                    
                    <!-- MODAL FOOTER -->
                    <div class="footer">
                        <button type="submit" class="loginButton arrow" name="form" value="login">Login</button>
                        <br /><br />
                        <p>
                            Don't have an account?!
                            <a href="#signupModal" data-toggle="modal" data-dismiss="modal">Sign-Up!</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- // LOGIN FORM -->


    <!-- LOGOUT FORM -->
    <form action="/" method="POST" id="logoutForm" class="logoutForm">
        <div class="modal" id="logoutModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- MODAL HEADER -->
                    <div class="m-header">
                        <!-- CLOSE BUTTON -->
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h5 id="myModalLabel"> Do you wish to logout?! </h5>
                        <br/>
                    </div>

                    <!-- MODAL FOOTER -->
                    <div class="footer">
                        <button type="submit" class="btn" name="form" value="logout">Yes!</button>
                        <button class="btn" data-dismiss="modal">No!</button>        
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- // LOGOUT FORM -->


    <!-- FORGOT PASSWORD FORM -->
    <form method="POST" id="forgotPasswordForm">
        <div class="modal" id="forgotPasswordModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- MODAL HEADER -->
                    <div class="m-header">
                        <!-- Close button -->
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 id="myModalLabel"> Forgot Password?! </h4>
                        <br />
                    </div>

                    <!-- MODAL BODY -->
                    <div class="body">
                        <!-- EMAIL ADDRESS -->
                        <h6 id="myModalLabel"> Enter Email address:  </h6>
                        <div class="form-group input-group">
                            <label for="email" class="sr-only">Email</label>
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" id="email" name="email" autofocus placeholder="Email Address" maxlength="50" required>
                        </div>
                    </div>
                    
                    <!-- MODAL FOOTER -->
                    <div class="footer">
                        <button type="submit" class="btn" name="form" value="forgotPassword">Reset</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- // FORGOT PASSWORD FORM -->

            