<% include partials/header.ejs %>

<div class="jumbotron" id="myContainer">
    <h1>Online Notes App</h1>
    <p>Make notes</p>
    <p>Easy to use</p>
    <button type="button" class="btn btn-lg btn-color sign-up" data-target="#signupModal" data-toggle="modal">Sign-Up</button>
</div>


<!-- SIGNUP -->

<form action="" method="POST" id="signupForm">
    <div class="modal" id="signupModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">

                    <!-- Close button -->
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="myModalLabel"> sjabckjsabck </h4>
                </div>

                <!-- Body -->
                <div class="modal-body">

                    <!-- Signup Messages -->
                    <div class="signupMsg"></div>

                    <!-- Username -->
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" maxlength="30">
                    </div>

                    <!-- Email Address -->
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" maxlength="50">
                    </div>


                    <!-- Password -->
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Choose a password" maxlength="30">
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group">
                        <label for="password2" class="sr-only">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" maxlength="30">
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn green" name="signup" value="Sign Up">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

<% include partials/footer.ejs %>