<% include partials/header.ejs %>

<div class="notes-container">
    <div id="body-row">
        <div id="sidebar-container" class="sidebar-collapsed d-none d-md-block">
            <ul class="list-group">
                <a href="#" id="collapse-container" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                    </div>
                </a>
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-clipboard fa-fw mr-3"></span> 
                        <span class="menu-collapsed new-note-dropdown show-text">New Note</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <div id='submenu1' class="collapse sidebar-submenu">
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note blank">
                                <div>
                                    <!-- BLANK NOTE -->
                                    <i class="fa fa-sticky-note"></i>
                                    <!-- <br /> -->
                                    <!-- <span class="note-type">Blank</span> -->
                                    <!-- <span class="menu-collapsed new-note-dropdown show-text">Blank Note</span> -->
                                </div>
                            </div>
                        </span>
                    </a>
                    <!-- <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note meeting">
                                <div>
                                    <i class="fa fa-handshake"></i>
                                </div>
                            </div>
                        </span>
                    </a> -->
                    <!-- <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note to-do">
                                <div>
                                    TO-DO LIST
                                    <i class="fa fa-clipboard-list"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note weekly-planner">
                                <div>
                                    WEEKLY PLANNER
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note project-plan">
                                <div>
                                    PROJECT PLANNER
                                    <i class="fa fa-file-word"></i>
                                </div>
                            </div>
                        </span>
                    </a> -->
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">
                            <div class="note lecture">
                                <div>
                                    <!-- LECTURE NOTES -->
                                    <i class="fa fa-id-card"></i>
                                </div>
                            </div>
                        </span>
                    </a>
                </div>
            </ul>
        </div>
    </div>

    <div class="container">

        <!-- BLANK NOTES -->
        <div class="col-md-offset-2 col-md-9 blank-section">
            <form action="/<%= user._id %>/notes" method="POST">
                <h1 >NOTES...</h1>
                <textarea class="js--trumbowyg" name="note[description]" placeholder="Start typing here..." style="text-align: left;">
                    &lt;placeholder&gt;Start typing here...&lt;/placeholder&gt;
                </textarea>
                <div class="row">
                    <button class="btn" type="submit">Save</button>
                </div> 
            </form>           
        </div>

        <!-- TODO LIST -->
        <div class="col-md-offset-2 col-md-9 to-do-section" style="display: none;">
            <form action="/<%= user._id %>/notes" method="POST">
                <div>
                    <div class="to-do-container">
                        <h1 >TO DO LIST<i class="fa fa-plus"></i></h1>
                        <div class="form-group">
                            <input class="form-control to-do-input" type="text" name="note[title]" placeholder="Add Do List" autofocus>
                        </div>
                        <ul class="to-do-ul">
                            <!-- <li class="to-do-li"><span class="to-do-span"><i class="fa fa-trash"></i></span> GO TO HELL</li> -->
                        </ul>
                    </div>
                    <div class="form-group">
                        <button class="btn">Save!</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- LECTURE NOTES -->
        <div class="col-md-offset-2 col-md-9 lecture-section" style="display: none;" >
            <form action="/<%= user._id %>/notes" method="POST">
                <!-- <trix-editor input="x"></trix-editor> -->
                <!-- <input id="x" value="Editor <span style='text-decoration: underline;'>content</span> goes here" type="hidden" name="note[description]" > -->
                <!-- <input id="x" type="hidden" name="note[description]" /> -->
                <h1>LECTURE NOTES</h1>
                <textarea class="js--trumbowyg" name="note[description]">
                    &lt;h3&gt;Title:&lt;/h3&gt;
                    &lt;strong&gt;Course:&lt;/strong&gt;
                    &lt;br /&gt;
                    &lt;strong&gt;Professor:&lt;/strong&gt;
                </textarea>
                <div class="row">
                    <button class="btn" type="submit">Save</button>
                </div> 
            </form>               
        </div>

        <!-- WEEKLY PLANNER -->
        <div class="col-md-offset-2 col-md-9 planner-section"  style="display: none;">
                <h1>PLANNER NOTES</h1>
                <div mbsc-page class="demo-add-delete-event">
                        <div mbsc-form>
                            <div class="mbsc-grid md-add-event-demo">
                                <div class="mbsc-row mbsc-no-padding">
                                    <div class="mbsc-col-md-4 mbsc-col-12">
                                        <div id="demo-add-event-month"></div>
                                        <div class="mbsc-btn-group-block">
                                            <button mbsc-button id="showAddEventPopup">Add New Event</button>
                                        </div>
                                    </div>
                                    <div class="mbsc-col-md-8 mbsc-col-12 md-col-right">
                                        <div id="demo-add-event-day"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="demo-add-event-popup" class="md-add-event-popup">
                            <div mbsc-form>
                                <div class="mbsc-form-group">
                                    <label>
                                        Title
                                        <input mbsc-input id="eventText">
                                    </label>
                                    <label>
                                        Description
                                        <textarea mbsc-textarea id="eventDesc"></textarea>
                                    </label>
                                </div>
                                <div class="mbsc-form-group">
                                    <label for="allDay">
                                        All-day
                                        <input mbsc-switch id="allDay" type="checkbox">
                                    </label>
                                    <label for="eventDate">
                                        Starts
                                        <input mbsc-input id="eventDate">
                                    </label>
                                    <label>
                                        Ends
                                        <input mbsc-input id="endInput">
                                    </label>
                                    <label>
                                        Show as busy
                                        <input mbsc-segmented type="radio" name="free" value="false" checked>
                                    </label>
                                    <label>
                                        Show as free
                                        <input mbsc-segmented type="radio" name="free" value="true">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                <div mbsc-page class="demo-view-update-event">
                    <div mbsc-form>
                        <div class="mbsc-grid md-view-update-demo">
                            <div class="mbsc-row mbsc-no-padding">
                                <div class="mbsc-col-md-4 mbsc-col-12">
                                    <div id="demo-view-update-event"></div>
                                </div>
                                <div class="mbsc-col-md-8 mbsc-col-12 md-col-right">
                                    <div id="demo-view-update-event-list"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="demo-view-update-popup" class="md-view-update-popup">
                        <div mbsc-form>
                            <div class="mbsc-form-group">
                                <label>
                                    Title
                                    <input mbsc-input id="updateEventText">
                                </label>
                                <label>
                                    Description
                                    <textarea id="updateEventDesc"></textarea>
                                </label>
                            </div>
                            <div class="mbsc-form-group">
                                <label for="updateAllDay">
                                    All-day
                                    <input mbsc-switch id="updateAllDay" type="checkbox">
                                </label>
                                <label for="updateEventDate">
                                    Starts
                                    <input mbsc-input id="updateEventDate">
                                </label>
                                <label>
                                    Ends
                                    <input mbsc-input id="updateEndInput">
                                </label>
                                <label>
                                    Show as busy
                                    <input mbsc-segmented type="radio" name="updateFree" value="false">
                                </label>
                                <label>
                                    Show as free
                                    <input mbsc-segmented type="radio" name="updateFree" value="true">
                                </label>
                                <div id="updateEventColor"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn" type="submit">Save</button>
                </div> 
        </div>
        -->
    </div>
</div>

<% include partials/footer.ejs %>
