<% include partials/header.ejs %>

<div class="profile-container">

    <div class="row">

        <div class="col-md-offset-2 col-md-8">
            
            <h2>General Account Settings</h2>

            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <tr data-target="#updateUsername" data-toggle="modal">
                        <td>Username</td>
                        <td>Value</td>
                    </tr>
                    <tr data-target="#updateEmail" data-toggle="modal">
                        <td>Email</td>
                        <td>Value</td>
                    </tr>
                    <tr data-target="#updatePassword" data-toggle="modal">
                        <td>Password</td>
                        <td>********</td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
</div>

<!-- Update Username -->
<!-- <form method="POST" id="updateUsernameForm"> -->
    <div class="modal" id="updateUsername" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">

                    <!-- Close button -->
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 id="myModalLabel"> Edit Username: </h4>
                </div>

                <!-- Body -->
                <div class="modal-body">

                    <!-- Update Username Messages -->
                    <div class="updateUsernameMsg"></div>

                    <!-- Username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="Username value" maxlength="30">
                    </div>
                
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn green" name="updateUsername" value="Submit">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<!-- </form> -->

<!-- Update Email -->
<!-- <form method="POST" id="updateEmailForm"> -->
    <div class="modal" id="updateEmail" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">

                    <!-- Close button -->
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 id="myModalLabel"> Enter new email: </h4>
                </div>

                <!-- Body -->
                <div class="modal-body">

                    <!-- Update Username Messages -->
                    <div class="updateUsernameMsg"></div>

                    <!-- Username -->
                    <div class="form-group">
                        <label for="username">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="Email value" maxlength="50">
                    </div>
                
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn green" name="updateUsername" value="Submit">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<!-- </form> -->

<!-- Update Password -->
<!-- <form method="POST" id="updatePasswordForm"> -->
    <div class="modal" id="updatePassword" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">

                    <!-- Close button -->
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 id="myModalLabel"> Change Password </h4>
                </div>

                <!-- Body -->
                <div class="modal-body">

                    <!-- Update Password Messages -->
                    <div class="updatePasswordMsg"></div>

                    <!-- Current Password -->
                    <div class="form-group">
                        <label for="currentPassword" class="sr-only">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" maxlength="30">
                    </div>

                    <!-- New Password -->
                    <div class="form-group">
                        <label for="password" class="sr-only">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="New Password" maxlength="30">
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group">
                        <label for="password2" class="sr-only">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" maxlength="30">
                    </div>
                
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn green" name="updateUsername" value="Submit">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
<!-- </form> -->

<% include partials/footer.ejs %>