.edit{
    text-align: center;
    margin-left: none;
}
.edit input#title{
    max-width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
}
.to-do-container-edit span{
    float: left;
}
.to-do-container-edit li:first-child span{
    display: none;
    padding-left: 3px;
    margin-right: 0;
}
.to-do-container-edit input[type=text]:first-child{
    width: 100%;
}

.edit .meal-planner-section input#date{
    margin-bottom: 15px;
}