/* html, body{
  height: 100%;
} */
.home-container{
    margin-top: 70px;
}
.home-container .row{
  margin-right: 0;
  margin-left: 0;
}
.notes-container{
    text-align: center;
}
#delete{
    float: left; 
}
ul{
    list-style: none;
}
.allNotes li{
    text-align: left;
    float: left; 
    width: 100%;
    max-width: 100%;
    font-size: 10px;
    line-height: 1.5em;
    border-left-width: 90px;
    border-color: #CA3DD9;
    color: #CA3DD9;
    background-color: #FBEFFF;

    margin-bottom: 10px;
}
.allNotes li div{
    padding-left: 40px; 
    height: 1px;
}
span button{

    background: #E74C3C;
    height: 30px;
    width: 1%;
    outline: none;
    border: #E74C3C;
    text-align: center;
    color: #FFF;
    display: inline-block;
    opacity: 0;
    transition: 0.5s linear;
}
li:hover span button{
    opacity: 1;
    width: 30px;
    height: 30px;
}
span a{
    background: green;
    height: 30px;
    width: 0px;
    outline: none;
    margin-right: 20px;
    line-height: 2;
    text-align: center;
    color: #FFF;
    display: inline-block;
    transition: 0.3s linear;
}
li:hover span a{
    width: 30px;
}
/* textarea{
    float: left; 
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.5em;
    border-left-width: 20px;
    border-color: #CA3DD9;
    color: #CA3DD9;
    background-color: #FBEFFF;
    padding: 10px;
} */
.no-notes{
  text-align: center;
}
.no-notes .hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/extra.jpg");
  height: 550px;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  position: relative;
}
.no-notes .no-notes-container{
  margin-top: 100px;
}
.no-notes h1{
  color: #FFF;
}
.no-notes .thumbnail{
  margin: 0 auto;
  height: 210px;
  width: 100%;
  max-width: 200px;
}
.no-notes .img-container{
  margin: 2px;
}
.no-notes .avatar{
  height: 200px;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
}
.no-notes button {
    background: none;
    color: #FFF;
    border: 4px solid rgb(63, 36, 20);
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 10px 35px;
}
.no-notes button:hover,
.no-notes button:focus {
	animation: borderPulse 700ms ease-out, hoverShine 400ms;
}

@keyframes borderPulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(63, 36, 20,1);
  }
  100% {
    box-shadow: 0px 0px 0px 35px rgba(63, 36, 20,0);
  }
}
/* @keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 10px rgba(63, 36, 20,.4), 0px 0px 0px 0px rgba(63, 36, 20,1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(63, 36, 20,.2), 0px 0px 0px 35px rgba(63, 36, 20,0);
  }
} */

@keyframes hoverShine {
	0%{
		background-image: linear-gradient(135deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	}
	50%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%);
	}
	100%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4) 100%);
	}
}
.no-notes i{
  color: rgb(63, 36, 20);
}
.no-notes .btn{
  color: #FFF;
  background-color: rgb(63, 36, 20);
  text-align: center;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: rgba(114,190,35,0.8); */
} 
.no-notes .btn:hover{
  border: 1px solid rgb(63, 36, 20);
  color: rgb(63, 36, 20);
  background-color: rgb(255,255,255);
  outline: none;
}