*{
    margin: 0;
    padding: 0;
}
.home-slider{
    position: relative;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 25s infinite;
}
.home-slider .load{
    animation: slide 2s;
}
.home-slider .content{
    color: #000;
    width: 100%;
    height: 100%;
}
.home-slider .principal{
    left: 52%;
    top: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 2px;
    text-align: center;
}
.home-slider h1{
    font-size: 50px;
    font-weight: 600;
}
.home-slider p{
    font-size: 16px;
    font-weight: 200;
}
@keyframes slide{
    0%{
        background-image: url("../images/bg.jpg");
    }
    20%{
        background-image: url("../images/bg.jpg");
    }
    20.01%{
        background-image: url("../images/bg2.jpg");
    }
    40%{
        background-image: url("../images/bg2.jpg");
    }
    40.01%{
        background-image: url("../images/bg3.jpg");
    }
    60%{
        background-image: url("../images/bg3.jpg");
    }
    60.01%{
        background-image: url("../images/bg4.jpg");
    }
    80%{
        background-image: url("../images/bg4.jpg");
    }
    80.01%{
        background-image: url("../images/bg5.jpg");
    }
    100%{
        background-image: url("../images/bg5.jpg");
    }
}
.btn{
    color: #FFF;
    background-color: rgb(63, 36, 20);
    outline: none;
    /* background-color: rgba(114,190,35,0.8); */
} 
.btn:hover{

    color: #FFF;
    background-color: rgb(168, 1, 1);
    outline: none;
}