*{
    margin: 0;
    padding: 0;
}
.home-slider{
    position: relative;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 25s infinite;
}
.home-slider .load{
    animation: slide 2s;
}
.home-slider .content{
    color: #000;
    width: 100%;
    height: 100%;
}
.home-slider .principal{
    left: 52%;
    top: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 2px;
    text-align: center;
}
.home-slider h1{
    font-size: 50px;
    font-weight: 600;
}
.home-slider p{
    font-size: 16px;
    font-weight: 200;
}
@keyframes slide{
    0%{
        background-image: url("../images/bg.jpg");
    }
    20%{
        background-image: url("../images/bg.jpg");
    }
    20.01%{
        background-image: url("../images/bg2.jpg");
    }
    40%{
        background-image: url("../images/bg2.jpg");
    }
    40.01%{
        background-image: url("../images/bg3.jpg");
    }
    60%{
        background-image: url("../images/bg3.jpg");
    }
    60.01%{
        background-image: url("../images/bg4.jpg");
    }
    80%{
        background-image: url("../images/bg4.jpg");
    }
    80.01%{
        background-image: url("../images/bg5.jpg");
    }
    100%{
        background-image: url("../images/bg5.jpg");
    }
}
.signUpButton{
    border-radius: 5px;
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    /* padding: .8em 1.4em;
    padding-right: 4.7em; */
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 40px;
    padding-bottom: 12px;
    /* margin-bottom: 14px; */
    text-align: center;

    color: #FFF;
    background-color: rgb(63, 36, 20);
    outline: none;
    border: none;
    transition: .2s;
    
}
.signUpButton:before,
.signUpButton:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-right: 20px;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    /* font-size: 1.2em; */
    text-align: center;
    transition: .2s;
    transform-origin: 50% 60%;
}
.signUpButton:before {
    background:  fadeout(#000, 90%);
}
.signUpButton:hover {
    background: darken(rgb(63, 36, 20), 10%);
}
.signUpButton:active,
.signUpButton:focus {
    background: darken(rgb(63, 36, 20), 30%);
    outline: none;
}
.arrow {
    background: rgb(63, 36, 20);   
}
.arrow:hover {
    background: darken(rgb(63, 36, 20), 10%);
}
.arrow:active,
.arrow:focus {
    background: darken(rgb(63, 36, 20), 30%);
}
.arrow:after {
    content: "\F054";
}
.arrow:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
}
@-webkit-keyframes bounceright {
	from { -webkit-transform: translateX(0); }
	to   { -webkit-transform: translateX(3px); }
}
@keyframes bounceright {
	from { transform: translateX(0); }
	to   { transform: translateX(3px); }
}
/* .btn{
    color: #FFF;
    background-color: rgb(63, 36, 20);
    outline: none;
    background-color: rgba(114,190,35,0.8);
}  */
/* .btn:hover{

    color: #FFF;
    background-color: rgb(168, 1, 1);
    outline: none;
} */