@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* html,
body {
	height: 100%;
}
body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
} */

.new-note {
    margin-top: 60px;
    position: relative;
    height: 550px;
    border: #000 solid 5px;
}
.new-note div {
    position: absolute;
    left: 20px;
    -webkit-transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -o-transition: 3s ease-in;
    transition: 3s ease-in;
}
.new-note .blank {
    top: 20px;
}
.new-note .meeting {
    top: 80px;
}
.new-note .to-do {
    top: 140px;
}
.new-note .weekly-planner {
    top: 200px;
}
.new-note .project-plan {
    top: 260px;
}
.new-note .lecture {
    top: 320px;
}
.new-note div i{
    font-size: 25px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.new-note div.note div {
    margin: 0 auto;
    border: #000 solid 1px;
}
@keyframes size-animation {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }  
}
@keyframes o {
    0%{
        transform: scale(0.1);
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.8;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }  
}

/* SIDEBAR */
#body-row {
    margin-left:0;
    margin-right:0;
    float: left;
}
#sidebar-container {
    position:fixed;
    left:0;
    top:20%; 
    height: 400px;
    margin: auto 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(58, 33, 19, 0.9));
    filter: drop-shadow(7px 7px 4px rgba(58, 33, 19, 0.5));
    border-radius: 5px;
    padding: 0;
    /* -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s; */
}
.sidebar-expanded {
    overflow: hidden;
    width: 150px;
}
.sidebar-collapsed {
    overflow: hidden;
    width: 60px;
}
#sidebar-container .list-group a {
    height: 50px;
    color: white;
    border: none;
    padding: 10px 5px;
    background-image: linear-gradient(to right, rgb(22, 9, 1), rgba(58, 33, 19, 0.9));
}
#sidebar-container .list-group a:hover {
  background:#121213;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
#sidebar-container .fa {
    padding-top: 2.5px;
    padding-bottom: 5px;
    font-size: 26px;
    text-align: center;
    color: #FFF;
    border: none;
    /* float: left; */
}
#sidebar-container #collapse-text{
    /* text-align: center; */
    font-size: 20px;
}
#sidebar-container .new-note-dropdown {
    font-size: 18px;
    padding-right: 0;
}
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    background-image: linear-gradient(to right, rgb(22, 9, 1), rgba(58, 33, 19, 0.9));  
    /* padding-left: 30px; */
}
.sidebar-submenu {
    font-size: 0.9rem;
}
.sidebar-separator-title {
    background-color: #3a2113;
    height: 35px;
}
.sidebar-separator {
    background-color: #3a2113;
    height: 25px;
}
.logo-separator {
    background-color: #3a2113;    
    height: 60px;
}
#sidebar-container .fa-clipboard{
    padding-left: 3px;
}
.note i::before{
    font-size: 20px;
}
.show-text{
    display: none !important;
}
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after{
    content: " \f0da";
    font-family: FontAwesome;
    text-align: right;
    padding-left: 1px;
}
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 1px;
}
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 1px;
}

/* TO-DO LIST */
.to-do-container .completed {
    color: gray;
    text-decoration: line-through;
}
.to-do-container {
    margin: 50px auto;
    margin-top: 150px;
    width: 400px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.to-do-container h1 {
    background-color: rgba(58, 33, 19, 0.85);
    margin: 0;
    padding: 10px;
    color:white;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.to-do-container span{
    float: left;
}
.to-do-container .fa-plus {
    padding-right: 7px;
    margin-top: 5px;
    text-align: center;
    font-size: 24px;
    float: right;
}
.to-do-container .fa-plus:hover {
    cursor: pointer;
}
.to-do-container input[type=text]{
    width: 81%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* padding: 15px 15px 15px 20px; */
    /* color: rgb(58, 33, 19, 0.85); */
    font-size: 25px;
    /* box-sizing: border-box; */
    /* background-color: #ecf0f1; */
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    /* border: 3px solid rgba(0,0,0,0); */
}
.to-do-container input[type=text]:first-child{
    width: 100%;
}
.to-do-container input[type=text]:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
.to-do-container input[type=text]::placeholder{
    text-align: center;
    font-size: large;
}
.to-do-container ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.to-do-container li {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.to-do-container li:nth-child(2n-1){
    background-color: rgb(175, 134, 115);
}
.to-do-container li:nth-child(2n){
    background-color:#FFF;
}
.to-do-container span {
    width: 0px;
    color: #fff;
    background-color: #e74c3c;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    transition: 0.5s linear;
    opacity: 0;
}
.to-do-container li:hover span {
    width: 40px;
    transition: 0.5s linear;
    opacity: 1.0;
}
.to-do-section .btn{
    text-transform: uppercase;
    background-color: #3a2113;
    color: #FFF;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 14px;
}
.to-do-section .btn:hover{
    background-color: rgba(58, 33, 19, 0.8);
    color: #FFF;
}
.to-do-section .btn i{
    margin-left: 3px;
    height: 18px;
    width: 18px;
    color: #FFF;
}

/* BLANK NOTE */
.blank-section{
  margin-top: 80px;
}
.blank-section textarea{
  text-align: left;
}

/* LECTURE NOTES */
.lecture-section{
    margin-top: 80px; 
}
.lecture-section textarea{
    margin-top: 8px; 
}
input#title{
    max-width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
}

/* MEETING SECTION */
.meeting-section,
.meal-planner-section,
.daily-reflection-section{
  margin-top: 90px;
}
.meeting-section div.title-container{
    height: 60px;
    /* text-align: center; */
      /* position: relative; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.meeting-section label{
    font-family: Georgia, "Times New Roman", Times, serif;
    /* padding: 3px; */
    font-size: 18px;
    color: #333;
    height: 30px;
    width: 130px;   
    text-align: left;
    clear: both;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    /* margin-right: 15px; */
}
.meeting-section .inputs{
    /* margin-bottom: 25px; */
    outline: none;
    border: none;
}
.meeting-section input#meetingDate,
.meeting-section input#title,
.meeting-section textarea {
    height: 30px;
    width: 78%;
    max-width: 100%;
    border: none;
    float: left;
    text-align: left;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.meeting-section textarea#meetingAttendees {
    margin-bottom: 20px;
}
.meeting-section input#title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
}
.meeting-section input#meetingDate:focus,
.meeting-section input#title:focus,
.meeting-section textarea:focus {
    border-radius: 0;
    border: none;
    box-shadow: none;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(58, 33, 19, 0.6); */
    outline: none;
}
.meeting-section table,
.meal-planner-section table {
	width: 800px;
    border-collapse: collapse;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    /* background: linear-gradient(45deg, rgb(236, 232, 230), rgb(58, 33, 19)); */
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.meal-planner-section table{
    width: 900px;
}
.meeting-section table tbody tr:nth-child(odd),
.meal-planner-section table tbody tr:nth-child(odd) {
    background: rgba(122, 120, 120, 0.1);
}
.meeting-section table tbody tr:nth-child(even),
.meal-planner-section table tbody tr:nth-child(even) {
    background-color: rgba(58, 33, 19, 0.5);
    /* background: linear-gradient(rgb(58, 33, 19), rgb(236, 232, 230)); */
}
.meeting-section th,
.meeting-section td,
.meal-planner-section th,
.meal-planner-section td {
    padding-left: 0;
	color: #FFF;
}
.meeting-section tr,
.meeting-section td,
.meal-planner-section tr,
.meal-planner-section td {
    padding-left: 0;
	color: #000;
}
.meeting-section th,
.meal-planner-section th {
	text-align: left;
}
.meeting-section thead th,
.meal-planner-section thead th {
    /* position: relative; */
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
	background-color: rgb(58, 33, 19);
}
.meeting-section thead tr th div,
.meal-planner-section thead tr th div{
	background: #FFF;
    /* z-index: 10; */
    /* display: inline-block; */
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}
.meeting-section thead th a,
.meal-planner-section thead th a{
    /* text-align: center; */
	color: rgb(58, 33, 19) ;
}
/* .meeting-section */
.meeting-section span {
    float: left;
    width: 0px;
    color: #fff;
    background-color: #e74c3c;
    /* display: inline-block; */
    text-align: center;
    margin-left: 0px;
    transition: 0.5s linear;
    opacity: 0;
}
.meeting-section tbody tr:hover span,
.meal-planner-section tbody tr:hover span {
    float: left;
    width: 40px;
    transition: 0.5s linear;
    opacity: 1.0;
}
.meeting-section tbody tr:hover,
.meal-planner-section tbody tr:hover {
	background-color: rgba(255,255,255,0.3);
}
.meeting-section tbody td,
.meal-planner-section tbody td {
    border-right: 0.5px double rgba(58, 33, 19, 0.5);
    border-bottom: 0.5px solid rgba(58, 33, 19, 0.5);
    /* background: linear-gradient(45deg, rgb(236, 232, 230), rgb(58, 33, 19)); */
    position: relative;
}
.meeting-section tbody td input,
.meal-planner-section tbody td input{
    margin: 0;
    width: 82%;
    background: transparent;
    outline: none;
    border: none;
}
.meeting-section tbody td:hover::before,
.meal-planner-section tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.9);
    z-index: -1;
}
.meal-planner-section #date{
    height: 20px;
    width: 520px;
    max-width: 100%;
    border: none;
    float: left;
    text-align: right;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    box-shadow: none;
}
.meal-planner-section #dateLabel{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 250px;   
    text-align: left;
    clear: both;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
}

/* PLANNER SECTION */
.planner-section{
    margin-top: 100px;
}
.mbsc-grid .mbsc-col-md-8{
    min-height: 400px;
}
.md-add-event-demo {
    position: absolute;
    height: 100%;
}
.md-add-event-demo .mbsc-row {
    height: 100%;
}
.md-add-event-demo .md-col-right {
    overflow: auto;
    height: 100%;
    border-left: 1px solid #ccc;
}
.md-add-event-demo .md-delete-btn {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 1;
    transition: background-color .3s ease-out;
}
.mbsc-material .md-add-event-demo .md-delete-btn {
    top: 6px;
}
.mbsc-windows .md-add-event-demo .md-delete-btn {
    top: 10px;
}
.md-add-event-demo .md-delete-btn.mbsc-btn-outline.mbsc-btn:not(:disabled):not(.mbsc-active):hover:hover {
    background: #f5504e;
    color: #fff;
}
.mbsc-rtl .md-add-event-demo .md-delete-btn {
    right: auto;
    left: 10px;
}
.md-add-event-popup {
    max-width: 400px;
}
.mbsc-ic:before{
    color: rgb(58, 33, 19);
}
/* .mbsc-cal-cell-i .mbsc-cal-day-i */
.mbsc-ios .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-cal-row .mbsc-selected .mbsc-cal-cell-txt { 
    border-color: #3a2113;
    background: #3a2113;
    color: #fff;
}
.mbsc-ios .mbsc-cal-today {
    color: #3a2113;
}
.mbsc-ios .mbsc-cal-cell:focus .mbsc-cal-cell-txt, .mbsc-ios.mbsc-no-touch:not(.mbsc-ev-cal) .mbsc-cal-cell:not(.mbsc-disabled):hover .mbsc-cal-cell-txt, .mbsc-ios.mbsc-no-touch .mbsc-cal-day:not(.mbsc-disabled) .mbsc-cal-day-date:hover {
    background: rgba(58, 33, 19, 0.5);
}

.mbsc-ios.mbsc-ev-cal .mbsc-fr-w {
    background: rgba(58, 33, 19, 0.5);
}
.mbsc-ios.mbsc-fr-inline .mbsc-fr-c {
    border-bottom: 1px solid rgba(58, 33, 19, 0.5);
}
.mbsc-ios .mbsc-lv-gr-title {
    background:rgba(58, 33, 19, 0.4);
    color: #fff;
    border: none;
    /* border-top: 1px solid rgba(58, 33, 19, 0.5);
    border-bottom: 1px solid rgba(58, 33, 19, 0.5); */
}
.mbsc-page h3, .mbsc-h3 {
    color: #fff;
}
.mbsc-ios .mbsc-event-list {
    background: rgba(58, 33, 19, 0.1);
}
/* .planner-section input#title {
    max-width: 100%;
    padding: 5px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
} */
.mbsc-wdg .mbsc-ltr .mbsc-wdg-c{
    outline: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
input#description {
    outline: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
input[type=radio]{
    border: 1px solid rgb(58, 33, 19);
    color: rgb(58, 33, 19);
}
input#description:focus,
input#description:hover {
    outline: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.mbsc-ios.mbsc-segmented .mbsc-segmented-item.mbsc-stepper-control.mbsc-active .mbsc-segmented-content, .mbsc-ios.mbsc-segmented .mbsc-segmented-item input:checked+.mbsc-segmented-content {
    background: rgb(58, 33, 19);
    color: #fff;
}
.mbsc-ios .mbsc-segmented-content {
    color: rgb(58, 33, 19);
    border: 0.07142857em solid rgb(58, 33, 19);
    background: #fff;
}
.mbsc-ios.mbsc-fr-pointer .mbsc-sc-itm-sel {
    color: rgb(58, 33, 19, 0.7);
}
.mbsc-ios.mbsc-no-touch .mbsc-sc-itm.mbsc-btn-e:hover, .mbsc-ios .mbsc-sc-itm:focus {
    background: rgba(58, 33, 19, 0.15)
}
.mbsc-ios .mbsc-fr-btn {
    color: rgb(58, 33, 19);
}

/* DAILY REFLECTION */
.daily-reflection-section .input-group{
    display: block;
}
.daily-reflection-section label{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 30px;
    width: 38%;   
    text-align: left;
    clear: both;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.daily-reflection-section label i{
    color: rgb(58, 33, 19);
}
.daily-reflection-section textarea,
.daily-reflection-section input#date{
    height: 30px;
    width: 55%;
    max-width: 100%;
    border: none;
    box-shadow: none;
    float: left;
    text-align: right;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.daily-reflection-section input#date{
    margin-bottom: 1%;
}
.daily-reflection-section textarea:hover,
.daily-reflection-section textarea:focus{
    border: none;
    box-shadow: none;
}
.daily-reflection-section .submit-btn{
    text-align: justify;
}
.daily-reflection-section .btn{
    margin-top: 2%;
}

.btn{
    text-transform: uppercase;
    background-color: #3a2113;
    color: #FFF;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 14px;
}
.btn:hover{
    background-color: rgb(58, 33, 19, 0.8);
    color: #FFF;
}
.btn i{
    margin-left: 3px;
    height: 18px;
    width: 18px;
    color: #FFF;
}
.planner-section a{
    color: #fff;
}
.planner-section a:hover{
    text-decoration: none;
}
.planner-section .btn{
    padding-top: 8px;
    margin-top: 30px;
}