@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

.new-note {
    margin-top: 60px;
    position: relative;
    height: 550px;
    /* width: 1200px; */
    border: #000 solid 5px;
    /* background: #0c0440; */
    /* color: #fff; */
}
.new-note div {
    position: absolute;
    /* bottom: 10px; */
    left: 20px;
    /* -webkit-transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -o-transition: 3s ease-in; */
    transition: 3s ease-in;
}
.new-note .blank {
    top: 20px;
}
.new-note .meeting {
    top: 80px;
}
.new-note .to-do {
    top: 140px;
}
.new-note .weekly-planner {
    top: 200px;
}
.new-note .project-plan {
    top: 260px;
}
.new-note .lecture {
    top: 320px;
}
.new-note div i{
    font-size: 25px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.new-note div.note div {
    margin: 0 auto;
    border: #000 solid 1px;
}
/* .blank:hover {
    -webkit-transform: translate(540px,-200px);
    -moz-transform: translate(540px,-200px);
    -o-transform: translate(540px,-200px);
    -ms-transform: translate(540px,-200px); 
    transform: translate(500px, 10px) scaleX(5.5) scaleY(5.5);
    animation-name: size-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.blank:hover div {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg); 
    transform: rotate(90deg);
} */
@keyframes size-animation {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }  
}
@keyframes o {
    0%{
        transform: scale(0.1);
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.8;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }  
}
/* @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(1080deg);
    }
  } */
/* .show{
    display: none;
} */
.to-do-container .completed {
    color: gray;
    text-decoration: line-through;
}
.to-do-container {
    margin: 150px auto;
    width: 400px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.to-do-container h1 {
    background-color: rgb(58, 33, 19, 0.85);
    margin: 0;
    padding: 10px;
    color:white;
    font-weight: normal;
    font-size: 30px;
}
.to-do-container .fa-plus {
    float: right;
}
.to-do-container input[type=text]{
    width: 100%;
    padding: 15px 15px 15px 20px;
    color: rgb(58, 33, 19, 0.85);
    font-size: 25px;
    box-sizing: border-box;
    background-color: #ecf0f1;
    border: 3px solid rgba(0,0,0,0);
}
.to-do-container input:focus {
    border: 1px solid rgb(58, 33, 19, 0.85);
}
.to-do-container ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.to-do-container li {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.to-do-container li:nth-child(2n){
    background-color:rgb(58, 33, 19, 0.15);
}
.to-do-container span {
    width: 0px;
    color: #fff;
    background-color: #e74c3c;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    transition: 0.5s;
    opacity: 0.5;
}
.to-do-container li:hover span {
    width: 40px;
    transition: 0.5s;
    opacity: 1.0;
}
.to-do-section .btn{
    text-transform: uppercase;
    background-color: #3a2113;
    color: #FFF;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 14px;
}
.to-do-section .btn:hover{
    background-color: rgb(58, 33, 19, 0.8);
    color: #FFF;
}
.to-do-section .btn i{
    margin-left: 3px;
    height: 18px;
    width: 18px;
    color: #FFF;
}

/* BLANK NOTE */
.blank-section{
  margin-top: 80px;
}
.blank-section textarea{
  text-align: left;
}

/* LECTURE NOTES */
.lecture-section{
    margin-top: 80px; 
}
.lecture-section textarea{
    margin-top: 8px; 
}

.btn{
    text-transform: uppercase;
    background-color: #3a2113;
    color: #FFF;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 14px;
}
.btn:hover{
    background-color: rgb(58, 33, 19, 0.8);
    color: #FFF;
}
.btn i{
    margin-left: 3px;
    height: 18px;
    width: 18px;
    color: #FFF;
}

#body-row {
    margin-left:0;
    margin-right:0;
    float: left;
}
#sidebar-container {
    position:fixed;
    left:0;
    top:20%; 
    height: 370px;
    margin: auto 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(58, 33, 19, 0.9));
    filter: drop-shadow(7px 7px 4px rgba(58, 33, 19, 0.5));
    border-radius: 5px;
    padding: 0;
	/* -webkit-transition: margin 2s;
    transition: margin 2s; */
}
.sidebar-expanded {
    /* text-align: center; */
    /* overflow: visible; */
    width: 150px;
}
.sidebar-collapsed {
    overflow: hidden;
    width: 60px;
}
#sidebar-container .list-group a {
    height: 50px;
    color: white;
    border: none;
    padding: 10px 5px;
    background-image: linear-gradient(to right, rgb(22, 9, 1), rgba(58, 33, 19, 0.9));
}
#sidebar-container .fa {
    padding-top: 2.5px;
    padding-bottom: 5px;
    font-size: 26px;
    text-align: center;
    color: #FFF;
    border: none;
    /* float: left; */
}
#sidebar-container #collapse-text{
    /* text-align: center; */
    font-size: 20px;
}
#sidebar-container .new-note-dropdown {
    font-size: 18px;
    padding-right: 0;
}
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    /* padding-left: 30px; */
}
/* #sidebar-container .list-group[aria-expanded="true"]{
    background: floralwhite;
} */
.sidebar-submenu {
    font-size: 0.9rem;
}
.sidebar-separator-title {
    background-color: #3a2113;
    height: 35px;
}
.sidebar-separator {
    background-color: #3a2113;
    height: 25px;
}
.logo-separator {
    background-color: #3a2113;    
    height: 60px;
}
#sidebar-container .fa-clipboard{
    padding-left: 3px;
}
.note i::before{
    font-size: 20px;
}
/* .note-type{
    font-size: 20px;
    color: #FFF;
} */
.show-text{
    display: none !important;
}
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after{
    content: " \f0da";
    font-family: FontAwesome;
    text-align: right;
    padding-left: 1px;
}
/* #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon{
    display: inline;
} */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 1px;
}
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 1px;
}