/* font-family: Arial, Helvetica, sans-serif; */
.user-profile .hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../images/extra.jpg");
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100% 40%;
    position: relative;
}
.user-profile .container{
    margin-top: 20px;
}
.user-profile .header{
    text-align: center;
    width: 100%;
    max-width: 580px;
    font-size: 42px;
    font-weight: 700;
    color: #FFF;
    margin-top: 100px;
    margin-bottom: 20px;
}
.user-profile h1{
    float: left;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
}
.user-profile i{
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
}
.user-profile .profile{
    text-align: center;
}
.user-profile .profile .form-group img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.user-profile .profile .thumbnail{
    margin-top: 108px;
    margin-bottom: 2px;
}
.user-profile .img-container{
    margin: 2px;
}
.user-profile .avatar{
    height: 350px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
}
.user-profile .caption{
    text-align: center;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
}
.user-profile span{ 
    height: 50px;
    width: 50px;
}
.user-profile .inputs label:not(.radio-inline){
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 150px;   
    text-align: left;
    clear: both;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
}
.user-profile .inputs .gender{
    float: left;
    width: 400px;
    max-width: 100%;
}
.user-profile .inputs label.radio-inline{
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 12%;
}
.user-profile .inputs label.none{
    margin-right: 0;
}
.user-profile .form-control[disabled]{
    background-color: rgba(238, 238, 238, 0.75);
}
.user-profile input[type=text],
.user-profile input[type=email],
.user-profile input[type=number],
.user-profile select.form-control,
.user-profile textarea.form-control{
    height: 20px;
    width: 400px;
    max-width: 100%;
    border: none;
    float: left;
    text-align: right;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
}
.user-profile input[type=radio]{
    float: left;
}
.user-profile textarea.form-control{
    overflow: hidden;
    height: 60px;
}
.user-profile input[type=text]:focus,
.user-profile input[type=email]:focus,
.user-profile input[type=number]:focus,
.user-profile select.form-control:focus,
.user-profile textarea.form-control:focus{
    color: #000;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(58, 33, 19, 0.6);
    outline: none;
}
.user-profile .input{
    margin-left:0;
}
.user-profile .select{
    color: #000;
}
.user-profile .btn{
    color: #FFF;
    background-color: rgb(63, 36, 20);
    outline: none;
    margin-top: 20px;
    /* background-color: rgba(114,190,35,0.8); */
} 
.user-profile .btn:hover{
    color: #FFF;
    background-color: rgb(168, 1, 1);
    outline: none;
}
