/* GENERAL SETTINGS */
html{
  position: relative;
  min-height: 100%;
}
body {
  position:relative;
  font-family: 'Arvo', serif;
  background-attachment: fixed;
  background-size: cover;
  background: hsl(270, 30, 5);
  color: #FFF;
  min-height:100%; 
  padding:0; 
  margin:0; 
}
::-moz-selection { 
  background: rgb(58, 33, 19, 0.85); 
  color: #FFF;
}
::selection {
  background: rgb(58, 33, 19, 0.85); 
  color: #FFF;
}

/* PRELOADER */
/* .preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
} */
#loading{
  position:fixed;
  width: 100%;
  height: 100vh;
  background:rgb(24, 3, 3) url('https://media.giphy.com/media/TZ3Y3sUWzrquY/giphy.gif') no-repeat center;
  z-index: 99999; 
}

/* NAV BAR */
.navbar-custom {
  background-color: #3a2113;
  border-color: #ac926b;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#60391c), to(#3a2113));
  background-image: -webkit-linear-gradient(top, #60391c, 0%, #3a2113, 100%);
  background-image: -moz-linear-gradient(top, #60391c 0%, #3a2113 100%);
  background-image: linear-gradient(to bottom, #60391c 0%, #3a2113 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60391c', endColorstr='#ff62aacf', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #a78f6b;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #a78f6b;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #60391c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#60391c), to(#3a2113));
  background-image: -webkit-linear-gradient(top, #60391c, 0%, #3a2113, 100%);
  background-image: -moz-linear-gradient(top, #60391c 0%, #3a2113 100%);
  background-image: linear-gradient(to bottom, #60391c 0%, #3a2113 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60391c', endColorstr='#ff3a2113', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #eedcc1;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #60391c;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #60391c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

/* FLASH MESSAGES */
.container{
  margin-bottom: none;
}
.alert{
  z-index: 1;
  position: absolute;
}
.errorMsg, .successMsg{
  text-align: center;
    width: 100%;
    margin: 0;
    left: 0;
    margin-top: 50px;
    animation: fade 15s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fade{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes fade{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* MODAL */
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal .modal-content{
  text-align: center;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s; 
  animation-name: modal-animation;
  animation-duration: 0.5s;
}
@-webkit-keyframes modal-animation {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}
@keyframes modal-animation {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}
.modal .m-header h4{
  font-size: 44px;
  font-weight: 400;
  color: #3a2113;
}
.modal .m-header h5{
  font-size: 24px;
  font-weight: 300;
  color: #3a2113;
}
.modal h6{
  text-align: start;
  font-size: 16px;
  font-weight: 200;
  color: #000;
}
.modal .m-header button{
  height: 25px;
  width: 25px;
  color: #3a2113;
  border-radius: 50%;
}
.modal .inputs{
  margin-bottom: 25px;
  outline: none;
  border: none;
}
.modal .input-group span{
  text-align: center;
  outline: none;
  border: 2px solid #3a2113;
  border-right: none;
  background-color: rgb(58, 33, 19, 0.85);
}
.modal .input-group span .fa-envelope{
  margin-left: -3px;
  margin-right: 3px;
  height: 10px;
  width: 10px;
}
.modal .input-group i{
  color: #FFF;
}
.modal input[type=text],
.modal input[type=password],
.modal input[type=email] {
  border-radius: 0;
  border-left: none;
  outline: none;
  border-top: 2px solid #3a2113;
  border-right: 1px solid rgb(58, 33, 19, 0.6);
  border-bottom: 1px solid rgb(58, 33, 19, 0.6);
}
.modal input[type=text]:focus,
.modal input[type=email]:focus,
.modal input[type=password]:focus {
  border-radius: 0;
  border-left: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(58, 33, 19, 0.6);
  outline: none;
  border-top: 2px solid #3a2113;
  border-right: 1px solid rgb(58, 33, 19, 0.6);
  border-bottom: 1px solid rgb(58, 33, 19, 0.6);
}
.modal .checkbox{
  height: 10px;
}
.modal .checkbox .forgot{
  cursor: pointer;
}
.modal .body{
  margin-bottom: 30px;
}
.modal .btn{
  text-transform: uppercase;
  background-color: #3a2113;
  color: #FFF;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 14px;
}
.modal .btn:hover{
  background-color: rgb(58, 33, 19, 0.8);
  color: #FFF;
}
.modal .btn i{
  margin-left: 3px;
  height: 18px;
  width: 18px;
  color: #FFF;
}

/* LOGIN BUTTON */
.loginButton{
  border-radius: 5px;
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  text-transform: uppercase;
  padding-top: 12px;
  padding-left: 25px;
  padding-right: 40px;
  padding-bottom: 12px;
  text-align: center;
  color: #FFF;
  background-color: rgb(63, 36, 20);
  outline: none;
  border: none;
  transition: .2s;
}
.loginButton:before,
.loginButton:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  padding-right: 20px;
  content: "\00a0";
  font-family: 'FontAwesome', sans-serif;
  text-align: center;
  transition: .2s;
  transform-origin: 50% 60%;
}
.loginButton:before {
  background:  fadeout(#000, 90%);
}
.loginButton:hover {
  background: darken(rgb(63, 36, 20), 10%);
}
.loginButton:active,
.loginButton:focus {
  background: darken(rgb(63, 36, 20), 30%);
  outline: none;
}
.arrow {
  background: rgb(63, 36, 20);   
}
.arrow:hover {
  background: darken(rgb(63, 36, 20), 10%);
}
.arrow:active,
.arrow:focus {
  background: darken(rgb(63, 36, 20), 30%);
}
.arrow:after {
  content: "\F054";
}
.arrow:hover:after {
  -webkit-animation: bounceright .3s alternate ease infinite;
  animation: bounceright .3s alternate ease infinite;
}
@-webkit-keyframes bounceright {
from { -webkit-transform: translateX(0); }
to   { -webkit-transform: translateX(3px); }
}
@keyframes bounceright {
from { transform: translateX(0); }
to   { transform: translateX(3px); }
}